.js-age-gate-active,
.age-gate--visible {
  body {
    height: 100%;
    overflow: hidden;
  }
}

.age-gate {
  transition: opacity var(--duration) var(--ease);
  position: fixed;
  visibility: hidden;
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}

.age-gate__overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: rgba(17, 33, 42, 0.9);
}

.age-gate__inner {
  max-width: 24em;
  z-index: 10;

  @media (--m) {
    max-width: 32em;
  }
}

.js-age-gate-active .age-gate,
.age-gate.age-gate--visible {
  visibility: visible;
  opacity: 1;
}

.age-gate__logo {
  img {
    width: 200px;

    @media (--m) {
      width: 300px;
    }
  }
}

.age-gate__footer {
  color: var(--white);
  z-index: 1;

  a {
    text-decoration: underline;
    transition: all var(--duration) var(--ease);

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}
