<div is="account-login-form" inline-template>
  <div @submit="validate" v-if="active" class="container container--xs">

    {%- assign mod_title = 'customer.login.title' | t -%}
    {%- include 'page-title', mod_title: mod_title -%}
    {%- assign mod_title = nil -%}

    {%- form 'customer_login' -%}

      {%- include 'form-errors', mod_errors: form.errors -%}

      <div class="form-row">
        {%- assign placeholder = 'customer.login.email' | t -%}
        {%- include 'text-input' with
          mod_name: 'customer[email]',
          mod_type: 'email',
          mod_label: placeholder,
          mod_required: true -%}
        {%- assign placeholder = nil -%}
      </div>

      <div class="form-row">
        {%- assign placeholder = 'customer.login.password' | t -%}
        {%- include 'text-input' with
          mod_name: 'customer[password]',
          mod_type: 'password',
          mod_label: placeholder,
          mod_required: true -%}
        {%- assign placeholder = nil -%}
      </div>

      <div class="form-row">
        {%- assign mod_value = 'customer.login.submit' | t -%}
        {%- include 'button',
          mod_value: mod_value,
          mod_type: 'submit',
          mod_class: 'btn--outlined' -%}
        {%- assign mod_value = nil -%}
      </div>

      <div class="form-row">
        <p class="p"><a class="p underline" href="javascript:void(0)" @click="$parent.changeForm('recover')">{{- 'customer.login.forgot_password' | t -}}</a></p>
        <p class="p">{{ 'customer.login.not_registered' | t }} <a class="underline" href="/account/register">{{ 'customer.login.create_account' | t }}</a></p>
      </div>
    {%- endform -%}
    </form>
  </div>
</div>
