.img,
.img__el {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.img {
  background-color: var(--grey-light);
  overflow: hidden;

  &.fit-cover {
    .img__el {
      object-fit: cover;
      /* stylelint-disable */
      font-family: 'object-fit: cover;';
      /* stylelint-enable */
    }
  }

  &.fit-contain {
    .img__el {
      object-fit: contain;
      /* stylelint-disable */
      font-family: 'object-fit: contain;';
      /* stylelint-enable */
    }
  }

  &.is-loaded {
    .img__el {
      opacity: 1;
      visibility: visible;
    }

    .img__loader {
      opacity: 0;
      visibility: hidden;
    }
  }

  &.is-transparent {
    background-color: transparent;
  }
}

.img__el {
  opacity: 0;
  transition-duration: var(--speed);
  transition-property: opacity, visibility, z-index;
  transition-timing-function: var(--ease);
  visibility: hidden;
  z-index: 2;

  &.is-fallback {
    opacity: 1;
    visibility: visible;
  }

  /* For Vue transitions */
  &.fade-enter,
  &.fade-leave-to {
    opacity: 0 !important;
  }

  &.fade-enter {
    z-index: 1;
  }
}

.img__loader {
  animation: spin var(--duration) infinite;
  background-color: var(--black);
  height: 30px;
  left: calc(50% - 15px);
  position: absolute;
  top: calc(50% - 15px);
  transition-duration: var(--speed);
  transition-property: opacity;
  transition-timing-function: var(--ease);
  width: 30px;
  z-index: 0;
}
