.hero {
  position: relative;
}

.hero__featured {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.hero__container {
  @media (--s) {
    align-items: center;
    display: flex;
    height: 100%;
    left: 0;
    justify-content: flex-start;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.hero__wrapper {
  padding: 20px 0;
  width: 100%;

  @media (--xxs) {
    padding: 30px 0;
  }

  @media (--xs) {
    margin: 0 auto;
    max-width: 510px;
  }

  @media (--s) {
    flex: 0 0 auto;
    margin: 0;
    padding: 0;
  }
}

.hero__title {
  margin-bottom: 5px;

  @media (--xxs) {
    margin-bottom: 10px;
  }
}

.hero__content {
  margin-bottom: 15px;

  @media (--xxs) {
    margin-bottom: 20px;
  }
}

.hero__ctas {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  @media (--xs) {
    align-items: center;
    flex-direction: row;
  }
}

.hero__btn {
  flex: 0 0 auto;
  margin-top: 6px;
  width: 100%;

  @media (--xs) {
    margin-left: 6px;
    margin-top: 0;
    width: auto;
  }

  &:first-child {
    margin-left: 0;
  }
}
