.social-links {
  display: flex;
  white-space: nowrap;

  .footer-mega & {
    justify-content: center;
  }
}

.social-links__icon {
  position: relative;
  display: block;
  width: 1.33em;
  height: 1.33em;
  margin: 0.5em;
  color: var(--black);
  transition: color var(--duration) var(--ease);

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: var(--grey-light);
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
