.testimonials {
  padding: 50px 0;
}

.testimonials__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.testimonials__title {
  margin-bottom: 25px;
}

.testimonials__text {
  margin-bottom: 10px;
}
