.plp-sidebar-link {
  padding: 0 4px;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  display: inline-block;
  line-height: 1.4;
}

.plp-sidebar-link::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-101%);
  transition: transform 400ms cubic-bezier(0.42, 0, 0.58, 1);
}

.plp-sidebar-link.is-active::before {
  transform: translateX(0);
}

.plp-sidebar-link span {
  position: relative;
}
