<div class="product-gallery" data-module="product-gallery">
  <div class="product-gallery__side">
    <ul class="product-gallery__list">
      <li v-for="(image, index) in images" :image="product.image" class="product-gallery__list--item" @click="activeIndex = index" :class="{ 'is-active': index === activeIndex }">
        <span class="product-gallery__thumbnail">
          <div
            is="vue-image"
            :src="image.src"
            class="fit-cover product-gallery__thumbnail__img">
          </div>
        </span>
      </li>
    </ul>
  </div>
  <div class="product-gallery__main ratio ro-2 js-main">
    <div class="product-gallery__featured">
    <transition name="fade">
      <img is="zoomable-image"  :src="featuredImage" class="product-gallery__img" />{% comment %}lint:ignore{% endcomment %}
    </transition>
    </div>
  </div>
</div>
