{%- for link in menu_links -%}

  {%- capture title -%}
    {{ link.title }}
  {%- endcapture -%}

  <li class="header-mega__nav__item {% if forloop.first %}has-subnav{% endif %}" aria-label="{{title}}">
    {%- if link.links != blank -%}
      <a href="{{link.url}}" class="header-mega__nav__link js-link a1 lb2" title="{{title}}">
        <span class="navlink">{{ title | strip }}</span>
        <span role="img" class="header-mega__nav__icon icon">
          {%- include 'icon' with 'icon-arrow-down' -%}
        </span>
      </a>
      <div class="header-mega__subnav js-subnav" tabindex="-1">
        <ul class="header-mega__subnav__items">
          {%- for link in link.links -%}
            {%- if link.links != blank -%}
              <div class="header-mega__subnav__item header-mega__subnav__item--{% if link.links.size >= 7 %}double{% else %}single{% endif %}">
                <div class="header-mega__subnav__item__title sub-h">
                  {{ link.title }}
                </div>
                {%- if link.links != blank -%}
                <div class="header-mega__subnav__item__links">
                  {%- for link in link.links limit: 6 -%}
                    <a href="{{link.url}}" class="js-subnav-link">
                      <span class="link--line">{{link.title}}</span>
                    </a>
                  {%- endfor -%}
                </div>
                {%- if link.links.size >= 7 -%}
                  <div class="header-mega__subnav__item__links">
                    {%- for link in link.links limit: 6 offset: 6 -%}
                      <a href="{{link.url}}" title="{{link.title}}" class="js-subnav-link">
                        <span class="link--line">{{link.title}}</span>
                      </a>
                    {%- endfor -%}
                  </div>
                {%- endif -%}
                {%- endif -%}
              </div>
            {%- else -%}
              <div class="header-mega__subnav__item header-mega__subnav__item--image">
                <a href="{{ link.url }}" class="header-mega__subnav__item--image-link" title="{{link.title}}">
                  {%- if link.object.image != blank -%}
                    <div class="header-mega__subnav__item__image" style="background-image: url({{ link.object.image }});"></div>
                  {%- endif -%}
                  <div class="sub-h link--withicon">
                    <span class="link--line">{{ link.title }}</span>
                    <span class="icon">
                      {% include 'icon' with 'icon-nav-arrow-right' %}
                    </span>
                  </div>
                </a>
              </div>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </div>
    {%- else -%}
      {%- if link.active -%}
        <div class="header-mega__nav__link lb2 is-active">
          <span class="header-mega__nav--holder navlink">{{ title | strip }}</span>
          <span role="img" class="header-mega__nav__icon">
            {% include 'icon' with 'icon-nav-arrow-right' %}
          </span>
        </div>

      {%- else -%}
        <a class="header-mega__nav__link js-link a1 lb2" href="{{ link.url }}" title="{{ link.title }}">
          <span class='navlink'>{{ title | strip }}</span>
          <span role="img" class="header-mega__nav__icon">
            {% include 'icon' with 'icon-nav-arrow-right' %}
          </span>
        </a>
      {%- endif -%}
    {%- endif -%}
  </li>
  {%- assign title = nil -%}
{%- endfor -%}
