{%- assign mod_errors = errors | default: false -%}

{%- if mod_errors -%}
  {%- for field in mod_errors -%}
    {%- if field == 'form' -%}
      <p class="p">{{- mod_errors.messages[field] -}}</p>
    {%- else -%}
      <p class="p">{{ mod_errors.translated_fields[field] | capitalize }} {{ mod_errors.messages[field] }}.</p>
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

{%- assign mod_errors = nil -%}
