.shipping-calculator {
  margin-bottom: 20px;
}

.shipping-calculator__progress {
  background-color: var(--grey-light);
  display: block;
  height: 3px;
  margin-top: 10px;
  position: relative;
  width: 100%;
}

.shipping-calculator__indicator {
  background-color: var(--black);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: width var(--speed) var(--ease);
  width: 0;
}
