{%- assign item = shipping-calculator.settings -%}
{%- assign mod_goal = item['goal'] -%}

<div
  is="shipping-calculator"
  class="shipping-calculator"
  :goal="{{- mod_goal -}}"
  inline-template>
  <div class="container container--s">
    <transition name="fade" mode="out-in">
      <div v-if="goalReached" key="2">
        <p class="p3 align-c">
          Congratulations! Enjoy free shipping!
        </p>
      </div>
      <div v-else-if="goalStarted" key="1">
        <p class="p3 align-c">
          You are $<i v-text="price"></i> away from free shipping.
        </p>
        <span class="shipping-calculator__progress">
          <i class="shipping-calculator__indicator" v-bind:style="{ width: progress }" ref="indicator"></i>
        </span>
      </div>
      <div v-else key="0">
        <p class="p3 align-c">
          Spend $<i v-text="price"></i> or more and enjoy free shipping.
        </p>
      </div>
    </transition>
  </div>
</div>

{%- assign item = nil -%}
{%- assign mod_goal = nil -%}
