.plp-active-filter {
  text-transform: capitalize;
  margin-right: 25px;
  display: none;
  align-items: center;

  @media (--m) {
    display: flex;
  }
}

.plp-active-filter__icon {
  width: 14px;
  height: 14px;
  background-color: var(--black);
  margin-right: 7px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plp-active-filter__icon svg {
  width: 8px;
  fill: var(--black);
}
