.product-description__item {
  border-bottom: 1px solid var(--grey);
  padding-bottom: 15px;
}

.product-description__title {
  cursor: pointer;
  padding: 15px 0 0;
  position: relative;

  &::after,
  &::before {
    background-color: var(--black);
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    right: 3px;
    top: calc(50% + 7px);
    transform: translateY(-50%);
    transform-origin: center;
    transition: transform var(--speed) var(--ease);
    width: 6px;
  }

  &::before {
    transform: translateY(-50%) rotate(90deg);
  }

  .is-active & {
    &::before {
      transform: translateY(-50%) rotate(0);
    }
  }
}

.product-description__title--basic {
  &::after,
  &::before {
    display: none;
  }
}

.product-description__body {
  overflow: hidden;
  max-height: 0;
  transition: all 0.2s linear;

  &.wysiwyg {
    padding: 0;
  }

  .product-description__content {
    padding-top: 10px;
  }
}

.product-description__body--basic {
  max-height: none;
}
