<div class="product-description" data-module="product-description">
  {%- if product.description contains '<h2>' -%}
    <ul class="product-description__list">
      {%- assign mod_descriptions = product.description | split: '<h2>' -%}
      {%- for item in mod_descriptions -%}
        {%- if item contains '</h2>' -%}
          {%- assign mod_title = item | split: '</h2>' | first | strip_html -%}
          {%- assign mod_content = item | split: '</h2>' | last -%}
          <li
            class="product-description__item p2"
            :class="{'is-active': (activeAccordion == 'accordion-{{- forloop.index -}}')}"
            @click="toggleAccordion('accordion-{{- forloop.index -}}')">
            <h2 class="product-description__title block h5">
              {{- mod_title -}}
            </h2>
            <div class="product-description__body" :style="{maxHeight: height('accordion-{{- forloop.index -}}')}">
              <div class="product-description__content" ref="accordion-{{forloop.index}}">
                {{- mod_content -}}
              </div>
            </div>
          </li>
          {%- assign mod_title = nil -%}
          {%- assign mod_content = nil -%}
        {%- endif -%}
      {%- endfor -%}
      {%- assign mod_descriptions = nil -%}
    </ul>
  {%- else -%}
    <h2 class="product-description__title product-description__title--basic block h5">Description</h2>
    <div class="product-description__body product-description__body--basic">
      <div>{{- product.description -}}</div>
    </div>
  {%- endif -%}
</div>
