<div is="account-recover-form" inline-template>
  <div @submit="validate" v-if="active" class="container container--xs">

    {%- assign mod_title = 'customer.recover_password.title' | t -%}
    {%- include 'page-title', mod_title: mod_title -%}
    {%- assign mod_title = nil -%}

    {%- form 'recover_customer_password', class: 'mha' -%}

      {%- if form['posted_successfully?'] -%}
        <div class="form-row">
          <p class="p bold">{{- 'customer.recover_password.reset_success' | t -}}</p>
        </div>
      {%- else -%}
        {%- include 'form-errors', mod_errors: form.errors -%}

        <div class="form-row">
          <p class="p">{{- 'customer.recover_password.subtext' | t -}}</p>
        </div>

        <div class="form-row">
          {%- assign placeholder = 'customer.recover_password.email' | t -%}
          {%- include 'text-input' with
              mod_name: 'email',
              mod_type: 'email',
              mod_label:  placeholder,
              mod_required: true -%}
          {%- assign placeholder = nil -%}
        </div>

        <div class="form-row">
          {%- assign mod_value = 'customer.recover_password.submit' | t -%}
          {%- include 'button',
            mod_value: mod_value,
            mod_type: 'submit',
            mod_class: 'btn--outlined' -%}
          {%- assign mod_value = nil -%}
        </div>

        <div class="form-row">
          <p class="p"><a href="javascript:void(0)" class="underline" @click="$parent.changeForm('login')">{{- 'customer.recover_password.cancel' | t -}}</a></p>
        </div>
      {%- endif -%}
    {%- endform -%}
  </div>
</div>
