
.loader {
  background: var(--grey);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.loader__icon {
  width: calc(100% / 2);
  height: calc(100% / 2);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
  line-height: 75px;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.loader-circle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 50%;
  background-color: var(--grey);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;

  @media (--ms) {
    width: 150px;
    height: 150px;
  }
}
