<div class="product-form" data-module="product-form">
  <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form__el" @submit.prevent="addToCart">
    <h2 class="product-form__title h2" itemprop="name">{{- product.title -}}</h2>
    <div class="product-form__info">
      <div class="product-form__price h3">
        <meta itemprop="priceCurrency" content="USD" />
        <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition" />

        {%- if product.available -%}
          <span class="hide" itemprop="availability" href="http://schema.org/InStock">In Stock</span>
        {%- else -%}
          <span class="hide" itemprop="availability" href="http://schema.org/OutOfStock">Out of Stock</span>
        {%- endif -%}

        <span>${{- product.price | money_without_trailing_zeros -}}</span>
      </div>
    </div>

    <div class="product-form__variants">
      {%- for option in product.options_with_values -%}
        {%- if forloop.index == 1 -%}
          <div class="product-form__variants__item product-form__variants__item--color">
            <div class="product-color-swatch__title p2">
              <span>Color:</span>
              <span v-html="selected['Color']"></span>
            </div>
            <ul class="product-color-swatch__list">
            {%- for value in option.values -%}
              <li
                is="color-circle"
                type="css"
                class="product-color-swatch__item"
                @click="updateSelectedOption('{{option.name}}', '{{value}}')"
                :is-active="selected['{{option.name}}'] == '{{value}}'"
                title="{{value}}"></li>
            {%- endfor -%}
            </ul>
          </div>
        {%- else -%}
        <div class="product-form__variants__item product-form__variants__item--size">
          <label for="{{- option.name -}}" class="product-options__label p2">{{- option.name -}}</label>
          <div class="dropdown">
            <select name="{{- option.name -}}" class="dropdown__el" @change="updateSelectedOption('{{option.name}}', $event.target.value)">
              {%- for value in option.values -%}
                <option value="{{- value -}}" {%- if forloop.index == 1 -%}selected{%- endif -%}>{{ value }}</option>
              {%- endfor -%}
            </select>
            <i class="dropdown__icon icon">
              {%- include 'icon' with 'icon-arrow-down' -%}
            </i>
          </div>
        </div>
        {%- endif -%}
      {%- endfor -%}
    </div>

    {%- capture mod_quantity_selector -%}
      <div class="f aic">
        <div
          is="quantity-selector"
          @change="quantity = $event"
          :initial="1"
          :max="99">
        </div>
      </div>
    {%- endcapture -%}

    <div class="product-form__quantity">
      <label class="product-options__label p2">Quantity</label>
      {{- mod_quantity_selector -}}
    </div>

    <div class="product-options__row is-submit">
      <div class="product-options__item">
        {%- include 'button',
          mod_class: 'btn btn--primary btn--full-width js-btn',
          mod_value: 'Add to Bag',
          mod_type: 'submit',
          mod_name: 'add' -%}
      </div>
    </div>
  </form>
</div>
