<section class="mt2">
  <div class="container--s pv2 mha">

    {%- assign mod_title = 'customer.account.title' | t -%}
    {%- include 'page-title', mod_title: mod_title -%}
    {%- assign mod_title = nil -%}

    {%- paginate customer.orders by 99 -%}
      {%- if customer.orders.size != 0 -%}
        <ul class="orders">
          {%- for order in customer.orders -%}
            <li class="orders__order">
              <a href="{{- order.customer_url -}}" class="link">
                <h5 class="inline-block mv0 uppercase">{{ 'customer.account.order' | t }} {{ order.name }}</h5>
              </a>

              <p class="block mt0 mb05">{{- order.created_at | date: '%b %d, %Y' -}}</p>

              <div class="order__meta order__meta--total inline-block">
                <span>{{- 'customer.account.total_colon' | t -}}</span><span>{{- order.total_price | money -}}</span>
              </div>
              <div class="order__meta inline-block">
                <span>{{- 'customer.account.payment_colon' | t -}}</span><span>{{- order.financial_status_label -}}</span>
              </div>
              <div class="order__meta inline-block">
                <span>{{- 'customer.account.shipping_colon' | t -}}</span><span>{{- order.fulfillment_status_label -}}</span>
              </div>
            </li>
          {%- endfor -%}
        </ul>

      {%- include 'pagination' -%}
      {%- else -%}
        <div>
          {%- assign text = 'customer.account.empty' | t -%}
          {%- include 'empty-view', show_button: false, text: text -%}
          {%- assign text = nil -%}
        </div>
      {%- endif -%}
    {%- endpaginate -%}
  </div>
</section>
