        {%- assign item = item | default: blank -%}
        {%- assign type = type | default: blank -%}
        <div class="media-two-up__block ratio">
          {%- case type -%}
            {%- when 'image' -%}
              {%- assign mod_image = item['image'] -%}
              {%- assign mod_image_intermediate = item['image_intermediate'] -%}
              {%- assign mod_image_mobile = item['image_mobile'] -%}
              {%- capture mod_image_src_media -%}
                <source media="(max-width: 444px)" data-srcset="{{- item['image_mobile'] -}}">
                <source media="(min-width: 445px) and (max-width: 767px)" data-srcset="{{- item['image_intermediate'] -}}">
                <source media="(min-width: 768px)" data-srcset="{{- mod_image -}}">
              {%- endcapture -%}

              {%- include 'image',
                mod_class: 'media-two-up__img',
                mod_src: mod_image,
                mod_src_media: mod_image_src_media,
                mod_text: mod_title,
                mod_loader: false -%}

              {%- assign mod_image = nil -%}
              {%- assign mod_image_intermediate = nil -%}
              {%- assign mod_image_mobile = nil -%}
              {%- assign mod_image_src_media = nil -%}

            {%- when 'video' -%}
              {%- assign mod_fallback_intermediate = item['fallback_intermediate'] -%}
              {%- assign mod_fallback_mobile = item['fallback_mobile'] -%}

              {%- include 'video',
                mod_src: item['video'],
                mod_fallback_mobile: mod_fallback_mobile,
                mod_fallback_intermediate: mod_fallback_intermediate,
                mod_class: 'media-two-up__img',
                mod_text: mod_title -%}

              {%- assign mod_fallback_intermediate = nil -%}
              {%- assign mod_fallback_mobile = nil -%}

          {%- endcase -%}
        </div>
        {%- assign item = item | default: nil -%}
        {%- assign type = type | default: nil -%}
