.product-main {
  padding: 90px 0;
}

.product-main__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @media (--xs) {
    width: calc(100% - 60px);
  }

  @media (--s) {
    align-items: flex-start;
    flex-direction: row;
    max-width: var(--xl);
    width: calc(100% - 80px);
  }
}

.product-main__gallery {
  width: calc(100% - 40px);

  @media (--xs) {
    width: 100%;
  }
}

.product-main__form {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;

  @media (--s) {
    align-items: flex-start;
    margin-left: 40px;
    margin-top: 40px;
    padding-bottom: 40px;
    width: 50%;
  }

  @media (--m) {
    max-width: 425px;
    min-width: 390px;
    width: 30%;
  }

  @media (--l) {
    max-width: none;
    width: 425px;
  }
}

.product-main__form .product-form,
.product-main__form .product-description {
  flex: 0 0 auto;
  width: calc(100% - 40px);

  @media (--xs) {
    width: 100%;
  }
}
