{%- layout 'theme' -%}

{% capture index_content %}
  {% include 'nested-list', mod_items: index %}
{% endcapture %}
<div class="container container--s mt2 mb2">
  <h1 class="h1">Base Modules &amp; Templates</h1>
  <h2 class="h3">Table of Contents</h2>
  <hr class="hr mb1"/>

  {% include 'wysiwyg', content: index_content %}
</div>
