.footer-mega {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;

  .is-checkout & {
    display: none;
  }
}

.footer-mega__newsletter {
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  padding: 30px;
  justify-content: center;
}

.footer-mega__newsletter__title {
  padding: 10px;
}

.footer-mega__newsletter__text {
  padding: 10px;
}

.footer-mega__newsletter__form {
  border: solid 1px var(--grey-light);
}

.footer-mega__main {
  order: 3;

  @media (--m) {
    order: 2;
    padding-top: 60px;
  }
}

.footer-mega__main__holder {
  align-items: stretch;
  display: flex;
  flex-direction: column;

  @media (--m) {
    flex-direction: row;
  }
}

.footer-mega__links {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  order: 2;

  @media (--xs) {
    flex-wrap: nowrap;
    justify-content: center;
  }

  @media (--m) {
    justify-content: space-between;
    order: 1;
    padding: 50px 40px 50px 0;
    width: 50%;
  }

  @media (--l) {
    padding-right: 50px;
  }
}

.footer-mega__links__list {
  margin-left: 40px;
  width: calc(50% - 20px);

  @media (--xs) {
    margin-left: 80px;
    width: auto;
  }

  @media (--m) {
    margin-left: 20px;
  }

  @media (--l) {
    width: 150px;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-left: 0;
    margin-top: 15px;

    @media (--xs) {
      margin-left: 80px;
      margin-top: 0;
    }

    @media (--m) {
      margin-left: 20px;
    }
  }
}

.footer-mega__links__item {
  margin-top: 2px;
}

.footer-mega__links__item--title {
  margin-bottom: 8px;
  margin-top: 0;
}

.footer-mega__contacts {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  order: 1;
  padding: 30px 0;

  @media (--m) {
    border-bottom: none;
    border-left: 1px solid var(--black);
    border-top: none;
    margin: 0;
    order: 2;
    padding: 40px 0 40px 40px;
    width: 50%;
  }

  @media (--l) {
    padding-left: 50px;
  }

  .contacts-info__list {
    flex-direction: column;
    align-items: center;

    @media (--xs) {
      flex-direction: row;
    }
  }

  .contacts-info__item {
    margin-left: 0;
    margin-top: 15px;

    @media (--xs) {
      margin-left: 20px;
      margin-top: 0;
    }

    &:first-child {
      margin-left: 0;
      margin-top: 0;
    }
  }
}

.footer-mega__contacts__title {
  margin-bottom: 8px;

  @media (--xs) {
    margin-bottom: 15px;
  }
}

.footer-mega__contacts__content {
  margin: 0 auto 30px;
  max-width: 410px;
}

.footer-mega__socials {
  margin: 30px 0;
  order: 2;

  @media (--m) {
    margin: 40px 0;
    order: 3;
  }
}

.footer-mega__bottom {
  margin: 50px 0 20px;
  order: 4;

  @media (--m) {
    margin-top: 0;
  }
}

.footer-mega__bottom__container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer-mega__bottom__list {
  display: flex;
}

.footer-mega__bottom__item {
  margin-left: 15px;

  &:first-child {
    margin-left: 0;
  }
}
