{%- assign main = section.settings -%}

<section class="footer-mega bg-yellow black" data-module="footer-mega">
  <div class="footer-mega__newsletter">

    {%- if main['newsletter_title'] -%}
    <div class="f fdc">
      <h1 class="footer-mega__newsletter__title align-c h4">{{- main['newsletter_title'] -}}</h1>
    </div>
    {%- endif -%}

    {%- if main['newsletter_text'] -%}
    <div class="f fdc">
      <div class="footer-mega__newsletter__text">{{- main['newsletter_text'] -}}</div>
    </div>
    {%- endif -%}

    {%- include 'newsletter-form',
      mod_class: 'footer-mega__newsletter__form',
      mod_provider: newsletter.provider,
      mod_klaviyo_url: newsletter.klaviyo_url,
      mod_klaviyo_group: newsletter.klaviyo_group
      mod_mailchimp_url: newsletter.mailchimp_url,
      mod_placeholder: newsletter.form_placeholder,
      mod_error_msg: newsletter.form_error_message,
      mod_success_msg: newsletter.form_success_message,
      mod_btn_text: newsletter.form_btn_text -%}
  </div>
  <div class="footer-mega__main">
    <div class="footer-mega__main__container container container--l">
      <div class="footer-mega__main__holder">
        <div class="footer-mega__links">
          {%- for block in section.blocks -%}
            {%- assign item = block.settings -%}
            {%- assign menu = linklists['footer'] -%}

            <ul class="footer-mega__links__list">
              <li class="footer-mega__links__item footer-mega__links__item--title h5">{{ menu.title }}</li>
              {%- for link in menu.links -%}
                <li class="footer-mega__links__item p2">
                  <a class="footer-mega__links__link a1" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                </li>
              {%- endfor -%}
            </ul>

            {%- assign item = nil -%}
            {%- assign menu = nil -%}
          {%- endfor -%}
        </div>

        <div class="footer-mega__contacts align-c">
          {%- if main['contacts_title'] != blank -%}
            <h2 class="footer-mega__contacts__title h4">{{ main['contacts_title'] }}</h2>
          {%- endif -%}

          {%- if main['contacts_text'] != blank -%}
            {%- capture description -%}
            <p class="footer-mega__contacts__content p2">{{ main['contacts_text'] }}</p>
            {%- endcapture -%}
          {%- endif -%}

          {%- include 'contacts-info', description: description, class: 'contacts-info--footer' -%}
        </div>
      </div>
    </div>
  </div>
  <div class="footer-mega__socials">
    <div class="footer-mega__socials__container container container--l">
      {%- include 'social-links' -%}
    </div>
  </div>
  <div class="footer-mega__bottom p2">
    <div class="footer-mega__bottom__container container container--l">
      {%- assign menu = linklists['footer-bottom'] -%}

      <ul class="footer-mega__bottom__list">
        {%- if main['bottom_text'] != blank -%}
          <li class="footer-mega__bottom__item">
            <p class="footer-mega__bottom__text">{{ main['bottom_text'] }}</p>
          </li>
        {%- endif -%}

        {%- for link in menu.links -%}
          <li class="footer-mega__bottom__item">
            <a class="footer-mega__bottom__link a1" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
          </li>
        {%- endfor -%}
      </ul>

      {%- assign menu = nil -%}
    </div>
  </div>
</section>

{%- assign scope = nil -%}

{% schema %}
  {
    "name": "Footer",
    "max_blocks": 3,
    "settings": [ {
      "type": "header",
      "content": "Footer Newsletter"
    }, {
      "type": "text",
      "id": "newsletter_list_url",
      "label": "Mailchimp List URL",
      "info": "Enter the Mailchimp List URL of the newsletter module."
    }, {
      "type": "text",
      "id": "newsletter_title",
      "label": "Title",
      "info": "Enter the title of the newsletter module."
    }, {
      "type": "textarea",
      "id": "newsletter_text",
      "label": "Text",
      "info": "Enter the text of the newsletter module."
    }, {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "Placeholder",
      "info": "Enter the placeholder of the newsletter module."
    }, {
      "type": "text",
      "id": "newsletter_cta",
      "label": "CTA Text",
      "info": "Enter the CTA text of the newsletter module."
    }, {
      "type": "header",
      "content": "Footer Contacts (Right)"
    }, {
      "type": "text",
      "id": "contacts_title",
      "label": "Title",
      "info": "Enter the title of the contacts section."
    }, {
      "type": "textarea",
      "id": "contacts_text",
      "label": "Text",
      "info": "Enter the text of the contacts section."
    }, {
      "type": "header",
      "content": "Footer Bottom"
    }, {
      "type": "text",
      "id": "bottom_text",
      "label": "Text",
      "info": "Enter the text of the bottom section."
    }, {
      "type": "link_list",
      "id": "bottom_menu",
      "label": "Menu",
      "info": "Select the menu of the bottom section."
    },  {
      "type": "header",
      "content": "Footer Links"
    } ],
    "max_blocks": 3,
    "blocks": [ {
      "type": "menu",
      "name": "Menu",
      "settings": [ {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "info": "Select the menu."
      } ]
    } ]
  }
{% endschema %}
