<div is="account-register-form" inline-template>
  <div @submit="validate" class="container container--xs">
    {%- assign mod_title = 'customer.register.title' | t -%}
    {%- include 'page-title', mod_title: mod_title -%}
    {%- assign mod_title = nil -%}

    {%- form 'create_customer', class: 'mha' -%}
      {%- include 'form-errors', mod_errors: form.errors -%}

      <div class="form-row">
        {%- assign placeholder = 'customer.register.first_name' | t -%}
        {%- include 'text-input' with
          mod_name: 'customer[first_name]',
          mod_label: placeholder,
          mod_required: true -%}
        {%- assign placeholder = nil -%}
      </div>

      <div class="form-row">
        {%- assign placeholder = 'customer.register.last_name' | t -%}
        {%- include 'text-input' with
          mod_name: 'customer[last_name]',
          mod_label: placeholder,
          mod_required: true -%}
        {%- assign placeholder = nil -%}
      </div>

      <div class="form-row">
        {%- assign placeholder = 'customer.register.email' | t -%}
        {%- include 'text-input' with
          mod_name: 'customer[email]',
          mod_type: 'email',
          mod_label: placeholder,
          mod_required: true -%}
        {%- assign placeholder = nil -%}
      </div>

      <div class="form-row">
        {%- assign placeholder = 'customer.register.password' | t -%}
        {%- include 'text-input' with
          mod_name: 'customer[password]',
          mod_type: 'password',
          mod_label: placeholder,
          mod_required: true -%}
        {%- assign placeholder = nil -%}
      </div>

      <div class="form-row">
        {%- assign label = 'customer.register.subscribe' | t -%}
        {%- include 'checkbox' with
          mod_name: 'customer[accepts_marketing]',
          mod_label: label -%}
        {%- assign label = nil -%}
      </div>

      <div class="form-row">
        {%- assign mod_value = 'customer.register.submit' | t -%}
        {%- include 'button',
          mod_value: mod_value,
          mod_type: 'submit',
          mod_class: 'btn--outlined' -%}
        {%- assign mod_value = nil -%}
      </div>

      <div class="form-row">
        <p class="p">{{ 'customer.register.already_registered' | t }} <a class="link underline" href="/account/login">{{- 'customer.register.sign_in' | t -}}</a></p>
      </div>

    {%- endform -%}
    </form>

  </div>
</div>
