.store-locator__main {
  display: flex;
  flex-direction: column;

  @media (--m) {
    flex-direction: row-reverse;
  }
}

.store-locator__sidebar {
  @media (--m) {
    width: 30%;
    margin-right: var(--gutter-xxs);
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.store-locator__map {
  min-height: 400px;
  margin-bottom: var(--gutter-xxs);

  @media (--m) {
    flex: 1;
    margin-bottom: 0;
  }
}

.store-locator__form {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--gutter-xxs);

  @media (--m) {
    flex-direction: row;
  }
}

.store-locator__input {
  margin-bottom: var(--gutter-xxs);

  @media (--m) {
    width: 30%;
    margin-bottom: 0;
    margin-right: var(--gutter-xxs);
  }
}

.store-locator__locations {
  @media (--m) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.store-locator__address {
  border-bottom: 1px solid var(--grey);
}

.store-locator__address-icon {
  width: 1em;
}

.store-locator__geolocation-feedback {
  display: none;

  &.is-visible {
    display: block;
  }
}
