{%- assign mod_api_key = mod_api_key | default: blank -%}
{%- assign mod_locations_url = mod_locations_url | default: blank -%}

<div
  class="store-locator"
  data-api-key="{{ mod_api_key }}"
  data-locations-url="{{ mod_locations_url }}"
  data-module="store-locator">

  <div class="store-locator__container container">
    <form class="store-locator__form js-form">
      {%- assign mod_address_label = 'general.store_locator.address_label' | t -%}
      {%- assign mod_submit_value = 'general.store_locator.search' | t -%}

      {%- include 'text-input',
        mod_label: mod_address_label,
        mod_class: 'store-locator__input',
        mod_initial_value: 'getAddress'
        mod_attr: ':key="address.length"'
        mod_name: 'address' -%}

      {%- include 'select-input',
        mod_dynamic_options: 'getDistanceOptions',
        mod_class: 'store-locator__input',
        mod_name: 'distance' -%}

      {%- include 'button',
        mod_value: mod_submit_value,
        mod_class: 'btn btn--primary store-locator__submit',
        mod_type: 'submit' -%}

      {%- assign mod_address_label = nil -%}
      {%- assign mod_submit_value = nil -%}
    </form>
    <div class="store-locator__main">
      <div class="store-locator__map js-map">
        <!-- The map will be rendered here -->
      </div>
      <div class="store-locator__sidebar">
        <div class="store-locator__locations js-sidebar">
          <p class="p1 mb1">{{- 'general.store_locator.geolocation_title' | t -}}</p>
          <p class="p2 mb1">{{- 'general.store_locator.geolocation_text' | t -}}</p>
          {%- include 'button',
            mod_value: 'Use my location',
            mod_class: 'js-geolocation btn btn--primary',
            mod_type: 'button' -%}
            <p class="store-locator__geolocation-feedback p2 js-geolocation-feedback">{{ 'general.store_locator.geolocation_feedback' | t }}</p>
          <!-- The list of locations will be rendered here -->
        </div>
      </div>
    </div>
  </div>

</div>

{%- assign mod_api_key = nil -%}
{%- assign mod_locations_url = nil -%}
