{%- assign mod_is_vue = mod_is_vue | default: false -%}
{%- assign mod_show_button = mod_show_button | default: true -%}
{%- assign mod_text = mod_text | default: "This is an empty view!" -%}
{%- assign mod_image_src = 'https://cdn.shopify.com/s/files/1/2403/8187/files/empty-cart-hyman-moscot_9d52906e-7897-4813-b7df-1f2f440e8dd5.gif?14710866549272581570' -%}

<div class="empty-view align-c bg-parchment">
  <div class="empty-view__image ratio">
    {%- if mod_is_vue -%}
      <div
        css="fit-contain"
        fit="contain"
        is="vue-image"
        src="{{- mod_image_src -}}"
        alt="Empty view image"></div>
    {%- else -%}
      {%- include 'image', mod_src: mod_image_src, mod_fit: 'contain' -%}
    {%- endif -%}
  </div>
  <h5 class="empty-view__title h5">{{- mod_text -}}</h5>
  {%- if mod_show_button -%}
  <a class="button empty-view__button" href="/">Shop Now</a>
  {%- endif -%}
</div>

{%- assign mod_is_vue = nil -%}
{%- assign mod_image_src = nil -%}
{%- assign mod_text = nil -%}
{%- assign mod_show_button = nil -%}
