{%- assign mod_is_collection = mod_is_collection | default: true -%}
{%- assign mod_items = mod_items | default: false -%}
{%- assign mod_disable_featured_product = mod_disable_featured_product | default: false -%}
{%- if mod_is_collection == false -%}
{%- assign mod_disable_featured_product = 1 -%}
{%- endif -%}
<div
  class="plp {% unless mod_is_collection %}plp--search{% endunless %}"
  data-module="plp"
  {%- if mod_is_collection -%}
    data-initial="{%- include 'plp-json', mod_encode: true -%}"
  {%- endif -%}>
  <transition name="fade-in-down">
    <div class="loader-overlay" v-if="loading" v-cloak>
      {%- include 'loader', mod_class: 'loader-circle' -%}
    </div>
  </transition>
  {%- if mod_is_collection -%}
    <div class="plp-hero bg-grey">
      <div class="plp-hero__wrap">
        <div class="plp-hero__copy">
          <div class="w100">
            <h1 class="plp-hero__title h3">
              <span v-html="collection.title" v-cloak>
                {{- collection.title -}}
              </span>
            </h1>
            {%- if collection.description and collection.description != blank -%}
              <div class="plp-hero__text p2">
                {{- collection.description -}}
              </div>
            {%- endif -%}
          </div>
        </div>
        <div class="plp-hero__image">
          <div
            css="fit-cover pos-top"
            is="vue-image"
            :src="collection.image"
            :alt="collection.alt">
            <noscript>
              <img src="{{- collection.image | img_url: 'large' -}}" />{% comment %}lint:ignore{% endcomment %}
            </noscript>
          </div>
        </div>
      </div>
    </div>
  {%- else -%}
    <div class="plp-hero plp-hero--search align-c bg-parchment">
      <div class="h2">Search Results</div>
      {%- assign search_string = search.terms | split: '*' -%}
      <p class="p2">Showing {{ search.results_count }} result(s) for "{{ search_string[1] }}" in Products</p>
      {%- assign search_string = nil -%}
    </div>
  {%- endif -%}

  <div class="plp__wrap bg-parchment">
    <a id="skip_to_grid" href="#plp__grid-wrap" class="skip_link skip_link--sidebar">Skip sidebar navigation</a>
    <div class="plp-sidebar" is="plp-sidebar">
      {%- if mod_is_collection -%}
        <ul class="plp-sidebar__list plp-sidebar__list--collections">
          {%- for link in linklists['plp-sidebar'].links -%}
            {%- if link.links.size < 1 -%}
              {%- continue -%}
            {%- endif -%}
            {%- unless link.url contains '/collections' -%}
              {%- continue -%}
            {%- endunless -%}
            <li class="plp-sidebar__list-group">
              <h3 class="h5">
                {{- link.title -}}
              </h3>
              <ul>
                {%- for subLink in link.links -%}
                  {%- unless subLink.url contains '/collections' -%}
                    {%- continue -%}
                  {%- endunless -%}
                  <li class="plp-sidebar__list-group-item">
                    <a
                      href="{{- subLink.url -}}"
                      is="plp-sidebar-link"
                      @click="fetchCollection({handle: $event})"
                      :is-active="(collection.handle === '{{- subLink.url -}}')">
                      {{- subLink.title -}}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
      <span slot="tooltip" v-cloak>Tooltip Example Text</span>
    </div>
    <div class="plp__grid-wrap" id="plp__grid-wrap" :class="{'is-empty': !visibleProducts.length && ajaxing && mounted}">
      <div class="plp__sort-bar" :class="{'is-empty': !selectedFacets.length}">
        <div class="plp__sort-bar__left">
          <p
            class="h5 no-wrap plp__sort-bar-filter-trigger"
            @click="toggleFilterMenu(true)">Filter +</p>
          <div is="plp-active-filter" v-if="!isMobile" v-for="facet in selectedFacets" :facet="facet" v-cloak>
            {%- include 'icon' with 'icon-x-small' -%}
          </div>
        </div>
        {%- if mod_is_collection -%}
          <div class="plp__sort-bar__right">
            <select is="plp-select" name="sort" :value="sort">
              <option value="manual">Recommended</option>
              <option value="title-ascending">Title Ascending</option>
              <option value="title-descending">Title Descending</option>
            </select>
          </div>
        {%- endif -%}
      </div>
      <div class="plp__grid plp__grid--not-ajaxing" v-if="!ajaxing || !mounted">
        {%- for item in mod_items -%}
          {%- if forloop.index0 >= 9 -%}
            {%- assign mod_attr = 'v-if="!compactView"' -%}
          {%- endif -%}
          {%- include 'product-card',
            mod_class: 'plp__grid-item plp__grid-item--normal',
            mod_attr: mod_attr,
            mod_product: item -%}
        {%- endfor -%}

        {%- unless mod_items.size > 0 -%}
          {%- include 'product-card', mod_class: 'hide' -%}
        {%- endunless -%}
      </div>
      <div class="plp__grid plp__grid--ajaxing" v-else>
        <template
          v-if="(compactView && i < 9) || !compactView"
          v-for="(product, i) in visibleProducts">
          {%- include 'product-card',
            mod_class: 'plp__grid-item plp__grid-item--normal',
            mod_attr: ':product="product" :key="(product.id + collection.handle)"' -%}
        </template>
      </div>
      <div class="align-c" :class="{hide: visibleProducts.length || !ajaxing}" v-cloak>
        No products to show..
      </div>
      <div class="align-c"  v-if="compactView && visibleProducts.length > 10">
        {%- assign mod_href = collection.url | append: '?compactView=false' -%}
        {%- include 'button',
          mod_value: 'Show All',
          mod_class: 'btn--outlined',
          mod_href: mod_href,
          mod_attr: '@click.prevent="toggleCompactView(false)"' -%}
        {%- assign mod_href = nil -%}
      </div>
    </div>
  </div>
</div>

{%- assign mod_disable_featured_product = nil -%}
{%- assign mod_is_collection = nil -%}
{%- assign mod_items = nil -%}
{%- assign mod_excerpt = nil -%}
