.product-gallery-enhanced {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @media (--m) {
    align-items: flex-start;
    flex-direction: row;
  }
}

.product-gallery-enhanced__side {
  flex: 0 0 auto;
  margin-top: 20px;
  order: 2;
  width: auto;

  @media (--m) {
    margin-top: 40px;
    order: 1;
  }
}

.product-gallery-enhanced__list {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (--m) {
    flex-direction: column;
  }
}

.product-gallery-enhanced__list--item {
  cursor: pointer;
  flex: 0 0 auto;
  height: 65px;
  margin-left: 10px;
  position: relative;
  width: 65px;

  @media (--m) {
    margin-left: 0;
    margin-top: 15px;
  }
}

.product-gallery-enhanced__list--item.is-active {
  cursor: default;
}

.product-gallery-enhanced__list--item:first-child {
  margin: 0;
}

.product-gallery-enhanced__list--item::after {
  border: 1px solid var(--black);
  content: '';
  height: calc(100% + 4px);
  left: -3px;
  opacity: 0;
  position: absolute;
  top: -3px;
  transform: scale(0.9);
  transition: opacity var(--duration) ease-in, transform var(--duration) ease-in, visibility var(--duration) ease-in;
  visibility: hidden;
  width: calc(100% + 4px);
  z-index: 1;
}

.product-gallery-enhanced__list--item.is-active::after {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

.product-gallery-enhanced__list--item.is-active .product-gallery-enhanced__thumbnail {
  border-color: rgba(0, 0, 0, 0);
}

.product-gallery-enhanced__thumbnail {
  align-items: center;
  display: flex;
  font-size: 10px;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: border-color var(--duration) ease-in;
  width: 100%;
  z-index: 0;
}

.product-gallery-enhanced__main {
  flex: 1 1 auto;
  order: 1;
  width: 100%;

  @media (--m) {
    margin-left: 40px;
    order: 2;
  }
}

.product-gallery-enhanced__featured,
.product-gallery-enhanced__media {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.product-gallery-enhanced__featured {
  cursor: zoom-in;
  z-index: 1;
}

/* stylelint-disable */
.product-gallery-enhanced__featured .zoomImg {
  transition: opacity 0.3s ease-in;
}
/* stylelint-enable */

.product-gallery-enhanced__img .zoom::after {
  display: none;
}
