{%- case icon -%}

  {%- when 'icon-search' -%}
    <svg viewBox="0 0 14.9 14.9">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search" x="0" y="0"></use>
    </svg>

  {%- when 'icon-checkbox' -%}
    <svg viewBox="0 0 13 9">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search" x="0" y="0"></use>
    </svg>

  {%- when 'icon-search-stroke' -%}
    <svg viewBox="0 0 24.9 24.8">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search-stroke" x="0" y="0"></use>
    </svg>

  {%- when 'icon-close' -%}
    <svg viewBox="0 0 14 14">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close" x="0" y="0"></use>
    </svg>

  {%- when 'arrow-left' -%}
    <svg viewBox="0 0 13.5 33.8">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-left" x="0" y="0"></use>
    </svg>

  {%- when 'arrow-right' -%}
    <svg viewBox="0 0 13.5 33.8">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right" x="0" y="0"></use>
    </svg>

  {%- when 'icon-arrow-down' -%}
    <svg viewBox="0 0 13 8">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-down" x="0" y="0"></use>
    </svg>

  {% when 'icon-bag' %}
    <svg class="w1" viewBox="0 0 18 22">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-bag" x="0" y="0"></use>
    </svg>

  {% when 'icon-star-full' %}
    <svg viewBox="0 0 15.6 15.2">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star-full" x="0" y="0"></use>
    </svg>

  {% when 'icon-star-half' %}
    <svg viewBox="0 0 13.6 12.8">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star-half" x="0" y="0"></use>
    </svg>

  {% when 'icon-star-empty' %}
    <svg viewBox="0 0 13.6 12.8">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star-empty" x="0" y="0"></use>
    </svg>

  {%- when 'icon-nav-arrow-right' -%}
    <svg viewBox="0 0 18 9">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-nav-arrow-right" x="0" y="0"></use>
    </svg>

  {%- when 'icon-facebook' -%}
    <svg class="w1" viewBox="0 0 1792 1792">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook" x="0" y="0"></use>
    </svg>

  {%- when 'icon-instagram' -%}
    <svg class="w1" viewBox="0 0 14 14">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-instagram" x="0" y="0"></use>
    </svg>

  {%- when 'icon-youtube' -%}
    <svg class="w1" viewBox="0 0 1792 1792">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-youtube" x="0" y="0"></use>
    </svg>

{%- endcase -%}
