{%- assign mod_value = mod_value | default: 'Click Here' -%}
{%- assign mod_type = mod_type | default: 'button' -%}
{%- assign mod_name = mod_name | default: blank -%}
{%- assign mod_id = mod_id | default: blank -%}
{%- assign mod_class = mod_class | default: blank -%}
{%- assign mod_attr = mod_attr | default: blank -%}
{%- assign mod_href = mod_href | default: '/' -%}
{%- assign mod_style = mod_style | default: blank -%}

{%- capture mod_css -%}
  btn {{ mod_class | strip }} {%- if mod_style != blank -%}btn--{{- mod_style -}}{%- endif -%}
{%- endcapture -%}

{%- case button -%}
  {%- when 'link' -%}
    <a
      class="{{- mod_css | strip -}}"
      {%- if mod_href != blank -%}
        href="{{- mod_href -}}"
      {%- endif -%}
      {%- if mod_id != blank -%}
        id="{{- mod_id -}}"
      {%- endif -%}
      {%- if mod_attr != blank -%}
        {{- mod_attr -}}
      {%- endif -%}
      title="{{- mod_value -}}">
      <span class="button__el">
        {{- mod_value -}}
      </span>
    </a>
  {%- else -%}
    <button
      class="{{- mod_css | strip -}}"
      type="{{- mod_type -}}"
      {%- if mod_id != blank -%}
        id="{{- mod_id -}}"
      {%- endif -%}
      {%- if mod_name != blank -%}
        name="{{- mod_name -}}"
      {%- endif -%}
      {%- if mod_attr != blank -%}
        {{- mod_attr -}}
      {%- endif -%}
      aria-label="{{- mod_value -}}">
      <span class="button__el">
        {{- mod_value -}}
      </span>
    </button>
{%- endcase -%}

{%- assign mod_value = nil -%}
{%- assign mod_type = nil -%}
{%- assign mod_name = nil -%}
{%- assign mod_id = nil -%}
{%- assign mod_class = nil -%}
{%- assign mod_css = nil -%}
{%- assign mod_attr = nil -%}
{%- assign mod_href = nil -%}
{%- assign mod_style = nil -%}
