.home-three-up {
  margin-bottom: 50px;
}

.home-three-up__wrapper.post-card-three-up {
  .home-three-up__callout {
    margin-top: 70px;
    max-width: 370px;

    @media (--xs) {
      margin-top: 100px;
    }

    @media (--m) {
      margin-top: 30px;
    }
  }
}
