{%- assign mod_count = mod_count | default: 0 -%}
<li class="header-side__item" data-module="header-cart-icon">
  <a class="header-side__link a1 js-side-link" title="Your Bag" href="/cart" @click.prevent="toggleMiniCart">
    <div>
      <span role="img" class="header-side__icon--cart">
        {%- include 'icon' with 'icon-bag' -%}
      </span>
      <span class="sr-only" v-text="itemCountText">Your bag - <span v-text="itemCount"></span></span>
      <span class="header-side__cart-count" aria-hidden="true" v-text="itemCount"></span>
    </div>
  </a>
</li>
{%- assign mod_count = nil -%}
