{%- if section.blocks.size > 0 -%}
  <section class="media-two-up">
    <div class="media-two-up__container container container--xl">
      {%- for block in section.blocks -%}
        {%- assign item = block.settings -%}
        {%- assign type = block.type -%}
        {%- include 'media-two-up',
          item: item,
          type: type -%}
        {%- assign item = nil -%}
        {%- assign type = nil -%}
      {%- endfor -%}
    </div>
  </section>
{%- endif -%}
