.style-guide {
  hr {
    margin: 20px 0;
  }

  .header-side__item {
    display: inline-block;
  }
}

.style-guide__wrapper {
  flex-wrap: wrap;
}

.style-guide__block--left,
.style-guide__block--right {
  width: 100%;

  @media (--m) {
    width: 50%;
  }
}

.style-guide__block--left {
  @media (--m) {
    padding-right: 100px;
  }
}

.style-guide__section {
  margin-top: 50px;
}

.style-guide__section-title,
.style-guide__label {
  color: var(--red);
}

.style-guide__section-title {
  margin-bottom: 20px;
}

.style-guide__label {
  margin: 20px 0;
}

.style-guide__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 1px solid var(--black);
}

.style-guide__color-grid {
  margin: 0 -10px;
}

.style-guide__color-item {
  width: 50%;
  padding: 0 10px;

  @media (--xs) {
    width: 25%;
  }
}

.style-guide__color-box {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.style-guide__color-code {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
