{%- assign mod_class = mod_class | default: blank -%}
{%- assign mod_id = mod_id | default: false -%}
{%- assign mod_name = mod_name | default: false -%}
{%- assign mod_min = mod_min | default: false -%}
{%- assign mod_max = mod_max | default: false -%}
{%- assign mod_value = mod_value | default: min | default: '0' -%}
{%- assign mod_on_change = mod_on_change | default: false -%}
{%- assign mod_disabled = mod_disabled | default: false -%}

{%- capture mod_css -%}
  quantity-selector {{ mod_class }}
{%- endcapture -%}

{%- capture mod_attr -%}
  {% if mod_id %}id="{{- mod_id -}}"{% endif %} {% if mod_name %}name="{{- mod_name -}}"{% endif %} {% if mod_min %}min="{{- mod_min -}}"{% endif %} {% if mod_max %}max="{{- mod_max -}}"{% endif %} {% if mod_value %}value="{{- mod_value -}}"{% endif %} {% if mod_disabled %}disabled{% endif %}
{%- endcapture -%}

<div class="{{ mod_css | strip }}" is="quantity-selector" {% if mod_disabled %}disabled{% endif %} {% if mod_on_change %}@change="{{- mod_on_change -}}"{% endif %}>
  <button class="quantity-selector__action" type="button" data-count="-"><span>-</span></button>
  <input class="quantity-selector__field" type="number" {{ mod_attr | strip }}>
  <button class="quantity-selector__action" type="button" data-count="+"><span>+</span></button>
</div>

{%- assign mod_class = nil -%}
{%- assign mod_id = nil -%}
{%- assign mod_name = nil -%}
{%- assign mod_min = nil -%}
{%- assign mod_max = nil -%}
{%- assign mod_value = nil -%}
{%- assign mod_disabled = nil -%}
{%- assign mod_css = nil -%}
{%- assign mod_attr = nil -%}
{%- assign mod_on_change = nil -%}

