<div is="account-reset-form" inline-template>
  <div @submit="validate" class="container container--xs">

    {%- assign mod_title = 'customer.reset_password.title' | t -%}
    {% include 'page-title', mod_title: mod_title %}
    {%- assign mod_title = nil -%}

    {% form 'reset_customer_password' %}

      {% include 'form-errors', mod_errors: form.errors %}

      <div class="form-row">
        {%- assign placeholder = 'customer.reset_password.password' | t -%}
        {% include 'text-input' with
          mod_name: 'customer[password]',
          mod_type: 'password',
          mod_label: placeholder %}
        {%- assign placeholder = nil -%}
      </div>

      <div class="form-row">
        {%- assign placeholder = 'customer.reset_password.confirm_password' | t -%}
        {% include 'text-input' with
          mod_name: 'customer[password_confirmation]',
          mod_type: 'password',
          mod_label: placeholder %}
        {%- assign placeholder = nil -%}
      </div>

      <div class="form-row">
        {%- assign value = 'customer.reset_password.submit' | t -%}
        {% include 'button',
          mod_value: value,
          mod_type: 'submit',
          mod_style: 'outlined' %}
        {%- assign value = nil -%}
      </div>
    {% endform %}
  </div>
</div>
