<section class="mt2 pt2">
  <div class="container--s mha">
    <nav class="account__nav p mb2 mt05">
      <ul class='list--reset f jcc'>
          <li class="account__nav__link">
            {%- if template contains 'account' -%}
              <span>Account Home</span>
            {%- else -%}
              <a class="link" href="/account">Account Home</a>
            {%- endif -%}
          </li>
          <li class="account__nav__link">
            {%- if template contains 'address' -%}
              <span>Addresses</span>
            {%- else -%}
              <a class="link" href="/account/addresses">Addresses</a>
            {%- endif -%}
          </li>

        <li class="account__nav__link">
          <a class="link" href="/account/logout">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
