.plp-sidebar {
  width: 100%;

  @media (--m) {
    padding: 40px 30px;
    width: 300px;
  }

  @media (--l) {
    display: block;
    width: 400px;
    padding: 80px;
  }
}

.plp-sidebar__list--collections {
  overflow: hidden;
  max-height: 0;
  transition: max-height 600ms ease-in-out;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--grey);

  @media (--m) {
    margin-bottom: 0;
    max-height: none;
    border-bottom: none;
  }

  .is-collection-list-active & {
    max-height: 1000px;

    @media (--m) {
      max-height: none;
    }

    .icon {
      transform: rotate(180deg);
    }
  }
}

.plp-sidebar__show-collections {
  cursor: pointer;
  padding: 20px 0;
  position: relative;

  .is-search & {
    display: none;
  }

  @media (--m) {
    display: none;
  }

  .icon {
    height: 8px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(0deg);
    transition: transform var(--speed) var(--ease);
    width: 10px;

    @media (--xs) {
      top: 4px;
    }
  }
}

.plp-sidebar__list--filters {
  width: 100vw;
  max-width: 240px;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  right: 0;
  background: var(--white);
  z-index: 999;
  padding: 20px;
  box-shadow: -3px 0 5px 0 rgba(0, 0, 0, 0.14);
  transform: translateX(250px);
  transition: transform 300ms ease-in-out;

  .is-search & {
    @media (--m) {
      border-top: none;
      padding-top: 0;
    }
  }

  @media (--m) {
    width: auto;
    max-width: none;
    height: auto;
    position: relative;
    background: transparent;
    z-index: 1;
    padding: 0;
    box-shadow: none;
    transition: none;
    transform: none;
    overflow-y: inherit;
    padding-top: 30px;
    border-top: 1px solid var(--grey);
  }

  .plp--search & {
    @media (--m) {
      padding-top: 0;
      border-top: 0;
    }
  }
}

.plp-sidebar__list--filters.is-active {
  transform: translateX(0);
}

.plp-sidebar__list-group {
  margin-bottom: 30px;
}

.plp-sidebar__list-group-inner--color {
  display: flex;
  flex-wrap: wrap;
}

.plp-sidebar__color-circle {
  margin: 3px 5px;
}

.plp-sidebar__list-group > ul {
  padding: 10px 0 0 15px;
}

.plp-sidebar__list-group li.is-active {
  padding: 2px 5px;
}

.plp-sidebar__list-group-item {
  text-transform: capitalize;
  cursor: pointer;
}

.plp-sidebar__list-group-item + .plp-sidebar__list-group-item {
  margin: 3px 0 0;
}

.plp-sidebar__list-group-item--filter {
  display: flex;
  align-items: center;
}

.plp-sidebar__list-group-item--filter + .plp-sidebar__list-group-item--filter {
  margin: 7px 0 0;
}

.plp-sidebar__apply-filter {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--grey);
  margin-bottom: 20px;

  @media (--m) {
    display: none;
  }
}

.plp-sidebar__reset-filter {
  @media (--m) {
    display: none;
  }
}

.plp-sidebar__list-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  background: rgba(255, 255, 255, 0.8);
}
