.post-card__featured {
  margin-bottom: 15px;
  overflow: hidden;

  &::before {
    padding-bottom: calc(310 / 280 * 100%);

    @media (--xs) {
      padding-bottom: calc(200 / 420 * 100%);
    }

    @media (--m) {
      padding-bottom: calc(440 / 400 * 100%);
    }
  }
}

.post-card__title,
.post-card__tag {
  margin-bottom: 5px;
}

.post-card__text {
  margin-bottom: 15px;
}

.post-card-three-up {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (--m) {
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }

  .post-card {
    flex: 0 0 auto;
    margin-top: 30px;
    width: 100%;

    @media (--m) {
      margin-top: 0;
      margin-left: 30px;
      width: calc(33.33% - 20px);
    }

    &:first-child {
      margin: 0;
    }
  }
}
