.no-touch .post-card .post-card__featured .post-card__image {
  transform: scale(1);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.no-touch .post-card:hover .post-card__featured .post-card__image {
  transform: scale(1.1);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
