.header {
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;

  .header__container {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: space-between;

    @media (--xs) {
      height: 70px;
    }
  }
}

.header__btn-mobile {
  position: relative;
  bottom: 0;
  cursor: pointer;
  display: block;
  height: 13px;
  width: 16px;

  @media (--xs) {
    height: 17px;
    width: 25px;
  }

  @media (--m) {
    display: none;
  }
}

.header__btn-mobile::before,
.header__btn-mobile::after {
  content: '';
}

.header__btn-mobile::before,
.header__btn-mobile::after,
.header__btn-mobile__el {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 16px;
  height: 1px;
  background-color: var(--black);
  transition: all var(--duration) ease-in;

  @media (--xs) {
    width: 25px;
  }
}

.header__btn-mobile::before {
  top: 0;
}

.header__btn-mobile::after {
  top: calc(100% - 1px);
}

.header__btn-mobile__el {
  top: calc(50% - 0.5px);
}

.header__btn-mobile.is-active .header__btn-mobile__el {
  opacity: 0;
  visibility: hidden;
}

.header__btn-mobile.is-active::before {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.header__btn-mobile.is-active::after {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;

  @media (--xs) {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    width: 140px;
    margin-top: -2px;
    flex: 0 0 auto;
    z-index: 1;
  }
}

.header-logo > svg {
  display: block;
}

.header__nav {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--white);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  @media (--xs) {
    top: 70px;
  }

  @media (--m) {
    position: static;
    display: block;
    width: auto;
    height: 100%;
    flex: 0 0 auto;
    overflow-y: visible;
  }

  &.is-animated {
    transition: height var(--speed) var(--ease);
  }
}

.header__nav__container {
  padding-bottom: 30px;

  @media (--m) {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    transform: translateY(-50%);
    z-index: 0;
  }
}

.header__nav__list {
  @media (--m) {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
}

.header__nav__item {
  @media (--m) {
    position: relative;
  }
}

.header__nav__item.is-active {
  .header__subnav {
    overflow: auto;
    height: auto;
  }

  .header__nav__icon {
    transform: rotate(180deg);
  }
}

.header__nav__link {
  position: relative;
  display: block;
  margin: 0 20px;
  padding: 15px 0;
  border-bottom: 1px solid var(--black);
  transition: color var(--speed) var(--ease);
  letter-spacing: 1px;
  cursor: pointer;

  @media (--xs) {
    margin: 0 40px;
  }

  @media (--m) {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 15px;
    padding: 0 18px;
    border-bottom: none;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
  }
}

.header__nav__icon {
  width: 10px;
  height: 9px;
  display: inline-block;

  @media (--m) {
    display: none;
  }
}

.header__subnav {
  margin: 0 60px;
  overflow: hidden;
  height: 0;

  @media (--m) {
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 0;
    width: 180px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -10px);
    transition-duration: 0.5s;
    transition-property: opacity, transform, visibility;
    transition-timing-function: var(--ease-out-quart);
  }
}

.header__subnav__list {
  @media (--m) {
    padding: 10px 20px 20px 20px;
  }
}

.header__subnav__item + .header__subnav__item {
  margin-top: 10px;
}

.header-side {
  flex: 0 0 auto;
  position: relative;
  width: auto;
  z-index: 1;
}

.header-side__list {
  align-items: center;
  display: flex;
}

.header-side__item {
  display: block;
  margin-right: 20px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}

.header-side__link {
  display: block;
}
