{%- assign mod_year = 'now' | date: '%Y' -%}
{%- assign mod_newsletter_provider = mod_newsletter_provider | default: false -%}
{%- assign mod_newsletter_mailchimp_url = mod_newsletter_mailchimp_url | default: blank -%}
{%- assign mod_newsletter_klaviyo_url = mod_newsletter_klaviyo_url | default: blank -%}
{%- assign mod_newsletter_klaviyo_group = mod_newsletter_klaviyo_group | default: blank -%}
{%- assign mod_newsletter_placeholder = mod_newsletter_placeholder | default: blank -%}
{%- assign mod_newsletter_error_msg = mod_newsletter_error_msg | default: blank -%}
{%- assign mod_newsletter_btn_text = mod_newsletter_btn_text | default: blank -%}

<footer class="footer bg-white" data-module="footer">
  <div class="footer__main">
    <div class="footer__container container--xl f mha">
      {%- include 'social-links', class: 'footer__social-links f aic'-%}

      <div class="footer__newsletter f">        
        {%- include 'newsletter-form',
          mod_class: 'footer__newsletter__form',
          mod_provider: mod_newsletter_provider,
          mod_klaviyo_url: mod_newsletter_klaviyo_url,
          mod_klaviyo_group: mod_newsletter_klaviyo_group
          mod_mailchimp_url: mod_newsletter_mailchimp_url,
          mod_placeholder: mod_newsletter_placeholder,
          mod_error_msg: mod_newsletter_error_msg,
          mod_success_msg: mod_success_msg,
          mod_btn_text: mod_newsletter_btn_text -%}
      </div>

      <nav class="footer__nav f aic">
        <ul class="list--reset footer__menu f aic w1">
          {%- for link in linklists.footer.links -%}
            <li class="footer__nav__item">
              <a href="{{- link.url -}}" class="footer__nav__item__link{% if link.active %} footer__nav__item__link--active{% endif %} link small">{{- link.title -}}</a>
            </li>
          {%- endfor -%}
        </ul>
      </nav>
    </div>
  </div>
  <div class="footer__secondary align-c pv075 f jcc aic">
    <span class="footer__copyright small">{{- 'general.legal.copyright' | t: year: mod_year -}}</span>
    <span class="footer__rights-reserved small">{{- 'general.legal.rights_reserved' | t -}}</span>
  </div>
</footer>

{%- assign mod_year = nil -%}
{%- assign mod_newsletter_provider = nil -%}
{%- assign mod_newsletter_mailchimp_url = nil -%}
{%- assign mod_newsletter_placeholder = nil -%}
{%- assign mod_newsletter_error_msg = nil -%}
{%- assign mod_newsletter_btn_text = nil -%}
{%- assign mod_newsletter_klaviyo_group = nil -%}
