{%- assign item = text-focus.settings -%}
{%- assign mod_title = item['title'] -%}
{%- assign mod_text = item['text'] -%}

<section class="text-focus">
  <div class="text-focus__container container container--ms align-c">
    {%- if mod_title != blank -%}
      <h2 class="text-focus__title p3">
        {{- mod_title -}}
      </h2>
    {%- endif -%}

    {%- if mod_text != blank -%}
      <p class="text-focus__text h3">
        {{- mod_text -}}
      </p>
    {%- endif -%}
  </div>
</section>

{%- assign item = nil -%}
{%- assign mod_title = nil -%}
{%- assign mod_text = nil -%}
