.color-selector {
  max-width: 156px;
  position: relative;
  margin: 10px auto;
  padding: 0 15px;

  @media (--m) {
    padding: 0 25px;
    max-width: 205px;
  }
}

.color-selector__list-wrapper {
  max-height: 28px;
  overflow-y: hidden;
}

.color-selector__list {
  display: flex;
  height: auto; /* Add fixed height for scroll bar */
  justify-content: center;
  overflow-x: auto;
  overflow: hidden;
  position: relative;
}

.color-selector__list-item {
  padding: 3px 5px;
  margin: 0 0 3px 10px;
  flex: 0 0 22px;

  &:first-child {
    margin-left: 0;
  }
}

.color-selector__arrow {
  width: 8px;
  height: 14px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  cursor: pointer;

  @media (--m) {
    width: 11px;
    height: 19px;
  }
}

.color-selector__arrow--left {
  left: 0;
}

.color-selector__arrow--right {
  right: 0;
}
