.video {
  background-color: var(--grey-light);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: background-color var(--speed) var(--ease);
  width: 100%;
  z-index: 0;

  &.no-fallback {
    .video__el {
      display: block;
    }
  }

  &.is-loaded {
    .video__el {
      opacity: 1;
      transition-delay: 0.3s;
      visibility: visible;
    }

    .video__loader {
      opacity: 0;
      visibility: hidden;
    }
  }

  &.pos-center {
    .video__el {
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.pos-top {
    .video__el {
      top: 0;
      transform: translate(-50%, 0);
    }
  }

  &.pos-bottom {
    .video__el {
      bottom: 0;
      top: auto;
      transform: translate(-50%, 0);
    }
  }
}

.video__el {
  display: none;

  @media (--s) {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    display: block;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition-duration: 0.4s;
    transition-property: opacity, visibility;
    transition-timing-function: var(--ease);
    visibility: hidden;
  }
}

.video__fallback {
  display: block;

  @media (--s) {
    display: none;
  }
}
