<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

  <title>{{- title -}}</title>
  {{ 'main.min.css' | asset_url | stylesheet_tag }}
  <script>
    (function(d) {
      var config = {
        kitId: 'clg4vhw',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
  <script type="text/javascript">
    var SHOPIFY_CDN = "{{ 'test.jpg' | asset_url }}".replace(/test.jpg\?\d*/,'');
    var BARREL = {
      cart: {{ cart | json }},
      userLoggedIn: {%- if customer -%}true{%- else -%}false{%- endif -%}
    };
  </script>
</head>

<body class="no-touch template">
  {%- include 'header' -%}
  <a tabindex="1" class="skip_link" role="navigation" aria-label="skip link" id="skip_to_content" href="#main">Skip to Main Content</a>
  <main class="main js-mobile-content" id="main" role="main">
    <div class="content">
      {%- block -%}
      {%- endblock -%}
    </div>

    {%- include 'footer' -%}
  </main>

  {{ 'main.min.js' | asset_url | script_tag }}

  {%- include 'mini-cart' -%}
  {%- include 'icon-paths' -%}

</body>
</html>
