{% layout none %}
{% paginate search.results by 9999 %}
{
"products":[
{% for product in search.results %}
{%- include 'product-json',
  mod_item: product,
  mod_encode: false,
  mod_featured: false -%}{% unless forloop.last %},{% endunless -%}
{%- endfor -%}
]
}
{% endpaginate %}
